{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<h1>Naiki Station</h1>
<h5 class="last-viewed">{{name}} - {{class}}</h5>

<div class="profile-card">
  <H4>Welcome, {{ loggedin_user|title }}! Glad you're here.</H4>

  <!-- buat ngesolve kayak ada garis diantara kedua tombol (berkaitan dengan <a><button> </button><a>) -->
  {% url 'main:create_product' as create_product_url %}
  {% url 'main:logout' as logout_url %}
  <button onclick="location.href='{{ create_product_url }}'">+ Add Product</button>
  <button onclick="location.href='{{ logout_url }}'">Logout</button>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</div>

<hr>

<!-- kode buat kategori -->
<button type="button" onclick="location.href='?filter=all'">All Products</button>
<button type="button" onclick="location.href='?filter=my'">My Products</button>
<button type="button" onclick="location.href='?filter=featured'">Featured Products</button>

{% if not Product_list %}
<p>Belum ada data Produk di Naiki Station.</p>
{% else %}
<h3>Catalog Product Naiki Station</h3>
{% for product in Product_list %}
<div class="product-card">
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>
  <!-- Ngasih tau siapa yang buat -->
  {% if product.user %}
    <p>by: <a href="/shop/{{ product.user.id }}" class="badge bg-primary"> <!-- TODO: buat /Shop/product.user.id -->
    {{ product.user.username }}
    </a></p>
    

  {% else %}
    <p class="text-muted">by Anonymous</p> 
    
  {% endif %}

  <p class="product-meta">
    <b>{{ product.get_category_display }}</b>
    {% if product.is_featured %} | <b>Featured</b>{% endif %}
    | <i>{{ product.created_at|naturaltime }}</i>
  </p>


  {% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
    <br />
  {% endif %}

  <p>{{ product.description|truncatewords:25 }}...</p>
  <p>Price: Rp {{ product.price|intcomma }}</p>

  <p><a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a></p>
  <p class="last-viewed">Last viewed:
   {% if product.last_viewed %}
      {{ product.last_viewed|timesince }} ago
   {% else %}
      Never viewed
   {% endif %}
  </p>
</div>

<hr>
{% endfor %}

{% endif %}

{% endblock content %}
